<style>

  table, tr, th{
  border: 1px solid black;
  border-collapse: separate;
}
</style>


<div>
  <button (click)="vyberMenu(menu.OSOBY)">Osoby</button>
  <button (click)="vyberMenu(menu.KNIHY)">Knihy</button>
  <button (click)="vyberMenu(menu.VYPOZICKY)">Vypozicky</button>
</div>

<div *ngIf="aktMenu == menu.OSOBY">
  <!-- <router-outlet></router-outlet> -->
  <app-osoba-zoznam></app-osoba-zoznam>
</div>

<button (click)="disable()">Disable</button>
<div *ngIf="aktMenu == menu.KNIHY">
  <div>Cena za kus: <input [(ngModel)]="cenaKs" (change)="sum()" [disabled]="zakaz"></div>
  <div>Množstvo: <input [(ngModel)]="mnozstvo" (change)="sum()"></div>
  <p>Spolu: {{ spolu }}</p>  <!-- Da sa aj bez metod -->
</div>

<!-- Najviac profesionalny sposob -->
<form [formGroup]="form" *ngIf="aktMenu == menu.VYPOZICKY">
  <div>
    Cena za kus2: <input formControlName="cenaKs"><br>
    Množstvo2: <input formControlName="mnozstvo">
    <p>Spolu2: {{ form.value.cenaKs * form.value.mnozstvo }}</p>  <!-- Da sa aj bez metod -->
  </div>
</form>

